altgraph==0.17.5
bitarray==3.8.0
bitstring==4.3.1
cffi==2.0.0
click==8.3.1
cryptography==46.0.5
ecdsa==0.19.1
esptool==5.2.0
flake8==7.3.0
gitdb==4.0.12
GitPython==3.1.46
importlib_metadata==8.7.1
intelhex==2.3.0
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
packaging==26.0
pefile==2024.8.26
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
Pygments==2.19.2
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.1
pyserial==3.5
pywin32-ctypes==0.2.3
PyYAML==6.0.3
reedsolo==1.7.0
rich==14.3.3
rich-click==1.9.7
setuptools==82.0.0
six==1.17.0
smmap==5.0.2
zipp==3.23.0
